

//== Index Page


#index-page{

// page specific items here =========================================


.link-arrow   { // this puts an arrow bwfore any links with this class
      a:before{
      font-family: 'Glyphicons Halflings';
      content: "\e131" ;
      padding-right:5px;
      // vertical-align:middle;
      position:relative;
      top:3px;
      color:$turq;
    }
  }

  
// page specific items here =========================================

} // END index
